:root {
    --light-red: #A52502;
    --brown: #390D02;
    --black: #000B0D;
    --skyblue: #154B52;
    --light-skyblue : #1C8394;
    --gray: #889C9B;
    --light-gray: #B2BEBF;
    --white: #fff;
}