/* Import Styles */
@import url(./font.css);
@import url(./colors.css);
/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Georgian', sans-serif;
    box-sizing: border-box;
}
/* Authorization & Registration Styles */
.auth-form {
    width: 300px;
    min-height: 220px;
    background-color: var(--creamcolor);
    border: 1px solid var(--white);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    padding: 30px 15px;
    text-align: center;
    box-shadow: 10px 5px 3px 1px var(--gray);
}

.auth-form input {
    width: 85%;
    height: 40px;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
    outline: none;
    border-radius: 15px;
}

.btn {
    width: 230px;
    height: 40px;
    margin: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-primary {
    background-color: var(--blue);
    color: var(--white);
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
}

.btn-link {
    text-decoration: none;
    color: var(--blue);
    font-size: 12px;
} 

.btn-link:hover {
    text-decoration: underline;
} 

/* Header Styles */
header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%),url(../assets/img/Hitler-background.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;    
    position: relative;
    overflow: hidden;
}
.top-nav {
	width: 70%;
	height: 15%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
    border-bottom: 3px solid var(--gray);
}
.hitler-logo {
    width: 60px;
    cursor: pointer;
}
.top-nav button {
	width: 120px;
	height: 40px;
    margin: 0px 5px;
	background-color: var(--creamcolor);
	color: var(--blue);
	border: 1px solid var(--gray);
	outline: none;
    border-radius: 20px;
	cursor: pointer;
}
/* Side Nav */
.side-nav {
    display: block;
	width: 100px;
	height: 100vh;
	background: linear-gradient(var(--creamcolor), var(--creamcolor));
	position: absolute;
	top: 0;
	right: 0;
    padding-left: 40px;
    padding-right: 40px;
}
.soc-links {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.useful-links {
    width: 50px;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
}
/* Content Styles */
.content {
    position: absolute;
    top: 20%;
    left: 55%;
}
.inner-content {
    flex-basis: 50%;
    display: flex;
}
.inner-content .column1 h1 {
    font-size: 50px;
    color: var(--blue);
    position: absolute;
    top: 35%;
    right: 130%;
    box-shadow: 0px 3px 3px 5px var(--gray);
    text-align: center;
    background-color: var(--creamcolor);
    border-radius: 20px;
}
.inner-content .column2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 20px;
}
.inner-content .column2 .card {
    width: 200px;
    height: 230px;
    border-radius: 20px;
    border: 2px solid var(--skyblue);
    box-shadow: 0px 3px 3px 5px var(--gray);
    cursor: pointer;
    transition: transform 0.5s;
    padding: 5px 0;
    background-size: cover;
    background-position: center;
}

.inner-content .column2 .card h5 {
    font: 12px;
    text-align: center;
    color: var(--blue);
    background-color: var(--creamcolor);
    border-radius: 30px;
}

.inner-content .column2 .card:hover {
    transform: translateY(-10px);
}

.inner-content .column2 .card1 {
    background-image: url(../assets/img/childhood-education.jpg);
}
.inner-content .column2 .card2 {
    background-image: url(../assets/img/economic-culture.jpg);
}
.inner-content .column2 .card3 {
    background-image: url(../assets/img/Appointment\ as\ Chancellor.jpg);
}
.inner-content .column2 .card4 {
    background-image: url(../assets/img/WW1-hitler.jpg);
}
